doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/mdb.min.css')
    link(rel='stylesheet', href='/css/datatables.min.css')
    link(rel='stylesheet', href='/css/datatables.bootstrap4.min.css')

  body
    .container
      .row
        block errors
      .row.main_block
        block form
        block table

  script(src='/js/jquery.min.js')
  script(src='/js/popper.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/mdb.min.js')
  script(src='/js/datatables.min.js')
  script(src='/js/createTable.js')
  script(src='/js/addData.js')