.form_block {
  margin: 70px;
  width: 30% !important;
  margin-right: auto;
  margin-left: auto;
}

.table_block {
  margin-top: 70px;
}

.alert_block {
  margin-top: 30px;
  display: none;
}

.pagination_block {
  margin: auto;
}
