.form_block {
  margin-right: auto;
  margin-left: auto;
}

.form_block h2 {
  text-align: center;
}

.main_block {
  margin-top: 130px;
}

.table_block {
  display: block;
  margin-left: 20px;
  width: 700px;
}

.alert_block {
  display: none;
  position: absolute;
  top: 40px;
  left: 30%;
  right: 30%;
}

.pagination_block {
  margin: auto;
}
